<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo!</span>
                <span class="title2">Meu nome é Rafael Elias Grígolo. Sou Engenheiro Agrônomo programador
                    profissional.</span>
            </h1>

            <p class="paragraph">Conheça mais sobre mim, meus projetos e habilidades técnicas.</p>

            <div class="buttons">
                <a href="#about">
                    <i class="material-symbols-outlined">
                        ar_on_you
                    </i>Sobre mim
                </a>
                <a href="#skills">
                    <i class="material-symbols-outlined">
                        check_circle
                    </i>Habilidades
                </a>
            </div>
        </div>

    </section>

    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="./assets/imgs/2022-03-05.png" alt="foto de Rafael E. Grígolo">
            </div>
            <div class="text">
                <h2>Sobre mim</h2>

                <h3>Sou Engenheiro Agrônomo <b>(ESALQ/USP)</b> programador web, com certificação C# .Net
                    pela Microsoft. Também possuo experiência em Angular, HTML, Javascript,
                    Typescript, CSS.
                </h3>

                <p>
                    Gosto muito de tecnologia. Possuo experiência profissional como Desenvolvedor Web (Estágio);
                    Engenheiro Agrônomo (Profissional Liberal): Consultoria para estabelecimento de Sistemas de Produção
                    Agrícola produtivos e sustentáveis; Louis Dreyfus Commodities, área de representação comercial;
                    Avianca Brasil, área de Tripulantes Técnicos; Irrigart Engenharia e Consultoria em Recursos Hídricos
                    e Meio Ambiente Ltda, área de Serviços Técnicos Especializados; G10 Aviação Agrícola, área de
                    Coordenação de Operações Aeroagrícolas; Latam Airlines, área de Tripulantes Técnicos; Ernst & Young,
                    área de Transaction Advisory Services (TAS). Itaú Unibanco, nas áreas de Gestão de Riscos e Análise
                    de Indicadores; Usina Santo Antonio (Grupo Balbo), área de Planejamento Financeiro de Expansão e
                    Aquisições; Centro Brasileiro de Bioaeronáutica (CBB), área de Avaliação e Caracterização de
                    Equipamentos.
                </p>

                <p>
                    Possuo publicações científicas na área de Tecnologia de Aplicação de Agroquímicos e Conservação de
                    Solos.
                </p>

                <p>
                    Sou pró-ativo, auto-motivado e orientado para resultados. Grande capacidade analítica, inovadora e
                    de liderança. Facilidade de relacionamento interpessoal e com trabalhos em equipe. Tenho
                    conhecimentos computacionais e lógica de programação. As tecnologias que mais domino são: <b>HTML,
                        SQL, OOP, MySQL, JSON, ASP.NET, C#, GitHub, Git, JavaScript e CSS</b>. Também possuo
                    conhecimento das rotinas das áreas de Controle de Qualidade, Legislação e Administrativa.
                </p>

                <p>
                    Participei de visitas técnicas a unidades de produção agrícola localizadas no MT, MS e PR.
                    Habilidade com avaliação da fertilidade dos solos, manejo, adubação e nutrição de plantas.
                    Gerenciamento de Recursos, Integração Lavoura Pecuária Floresta (iLPF) e adequação ambiental.
                    Caracterização e avaliação do desempenho de equipamentos e sistemas; atendimento ao público;
                    orçamentos; negociação; treinamento; análise de mercado e concorrência; promoções, propagandas e
                    clientes. Gerenciamento e controle de recursos e Instrução Teórica / Prática. <i
                        class="material-symbols-outlined">
                        mood
                    </i>
                </p>

                <a href="#contact">Entre em contato comigo</a>
            </div>

        </div>

    </section>
</main>