/* box banner */

.banner {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, var(--color-green-2) 15%, var(--color-green-3) 100%);
    color: #fff;
    padding-top: 70px;
    text-align: center;
}

.banner .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 5px;
}

.banner .box .title1 {
    font-size: var(--font-size-4);
}

.banner .box .title2 {
    font-size: var(--font-size-1);
    display: block;
    /* Este comando é usado para que, de acordo com o tamanho da tela, o quadrado do texto
    tenha um limite máximo */
    max-width: 450px;
}

.banner .box .title3 {
    font-size: var(--font-size-4);
    color: orange;

}

.banner .box .paragraph {
    margin: 15px;
    font-size: var(--font-size-5);
    font-weight: 400;
    color: #fff;
}

.banner .box .buttons {
    display: flex;
    align-items: center;
    /* Este comando é para quando a tela for muito pequena ele colocar automaticamente
    um embaixo do outro */
    flex-wrap: wrap;
    margin: 15px 0;
    width: 100%;
    justify-content: space-evenly;
}

.banner .box .buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-width: 170px;
    border-radius: 35px;
    margin: 15px 5px 15px;
    font-size: var(--font-size-4);
    text-decoration: none;
    font-weight: 700;
    background: var(--color-green-1);
    color: #fff;
}

.banner .box .buttons a:hover {
    background: var(--color-green-2);
}

.banner .box .buttons i {
    margin: 0 8px;
}

/*  Box About */

.about .box {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.about .box .img {
    flex: 1;
    margin: auto;
}

.about .box .img img {
    width: 240px;
    border-radius: 50%;
    padding: 15px;
}

.about .box .text {
    flex: 2;
    /* margin-top: 15px; */
    padding: 15px;
}

.about .box .text h3 {
    color: var(--color-green-2);
    margin-top: 15px;
    text-align: justify;
}

.about .box .text p {
    margin: 15px 0;
    text-align: justify;
}

.about .box .text .experiencia1,
.about .box .text .experiencia2,
.about .box .text .experiencia3,
.about .box .text .experiencia4,
.about .box .text .experiencia5,
.about .box .text .experiencia6,
.about .box .text .experiencia7 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0px 15px 0px;
}

/* .about .box .text .experiencia6 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */

/* .about .box .text .experiencia7 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 35px 0px 15px 0px;
} */

.about .box .text .experiencia1 img.ai9 {
    width: 140px;
}

.about .box .text .experiencia2 img.esalq {
    width: 77px;
}

.about .box .text .experiencia3 img.avianca {
    width: 70px;
}

.about .box .text .experiencia4 img.latam {
    width: 70px;
}

.about .box .text .experiencia5 img.ernstYoung {
    width: 70px;
}

.about .box .text .experiencia6 img.itau {
    width: 70px;
}

.about .box .text .experiencia7 img.usinaSantoAntonio {
    width: 100px;
}

/* .about .box .text p img {
    width: 30px;
}

.about .box .text p img.ai9 {
    width: 45px;
}

.about .box .text p img.itau {
    width: 45px;
}
 */
.about .box .text a {
    color: var(--color-purple-1);
    font-weight: 400;
    text-decoration: none;
}

.about .box .text a:hover {
    color: var(--color-green-1);
    text-decoration: underline;
}

/* Box skills */

.skills {
    background: var(--color-black-1);
}

.skills .box h2,
.skills .box h3,
.skills .box h4 {
    color: #fff;
}

.skills .box h2 {
    padding: 15px 0 0 15px;
}

.skills .box h3 {
    padding: 12px 0 0 15px;
    /* margin: 5px 0 20px; */
    font-size: var(--font-size-4);
}

.skills .box h4 {
    margin-top: 12px;
}

.skills .box .items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 900px;
}

.skills .box .items .skill {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    text-align: center;
}

.skills .box .items .skill:hover {
    background: #ffffff1f;
}

.skills .box .items .skill img,
.skills .box .items .skill svg {
    width: 90px;
}

/* Box Projects */

.projects .box {
    margin: 15px 15px 0;
}

.projects .box h3 {
    margin: 5px 0px 0px 0px;
    font-size: var(--font-size-4);
}

.projects .box .project {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.projects .box .project.reverse {
    flex-direction: column-reverse;
}

.projects .box .project .img {
    flex: 1;
}

.projects .box .project .text {
    flex: 1;
    margin-bottom: 15px;
}

.projects .box .project .img img {
    width: 100%;
}

.projects .box .project .text h4 {
    font-size: var(--font-size-3);
    margin-bottom: 15px;
}

.projects .box .text p {
    text-align: justify;
}

.projects .box .project .text .buttons {
    margin-top: 20px;
    display: flex;
}

.projects .box .project .text .buttons a {
    display: inline-flex;
    border-radius: 45px;
    color: #fff;
    height: 30px;
    background: #181616;
    margin-right: 15px;
    padding: 0 12px;
    font-size: var(--font-size-5);
    font-weight: 400;
    align-items: center;
    text-decoration: none;
}

.projects .box .project .text .buttons a:hover {
    /* background: #ffffff1f; */
    background: gray;
}

.projects .box .project .text .buttons a.live {
    background: var(--color-purple-1);
}

.projects .box .project .text .buttons a.live:hover {
    background: #dc27f4bf;
}

.projects .box .project .text .buttons a svg,
.projects .box .project .text .buttons a.live i {
    width: 20px;
    margin-right: 8px;
    font-size: 20px;
}

/* Box contact */

.contact {
    background: var(--color-black-1);
}

.contact .box {
    /* max-width: 880px; */
    margin: 15px 15px 0;
    padding: 15px 15px 15px 15px;
}

.contact .box h2,
.contact .box h3 {
    color: #fff;
    padding: 15px 0px 0px 0px;
    text-align: justify;
}

.contact .box h3 i {
    color: orange;
}

.contact .box .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 25px 0;
}

.contact .box .contacts a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--color-purple-1);
    height: 50px;
    color: #fff;
    border-radius: 35px;
    min-width: 200px;
    font-weight: 700;
    margin: 15px 0;
    text-decoration: none;
}

.contact .box .contacts a:hover {
    background: #dc27f4bf;
}

.contact .box .contacts a i {
    font-size: 35px;
    margin-right: 5px;
}

.contact .box .contacts a svg,
.contact .box .contacts a img {
    width: 30px;
    margin-right: 5px;
}

@media (min-width: 768px) {
    /* Box Banner */

    /* Box About */
    .about .box {
        flex-direction: row;
        margin-top: 75px;
    }

    .about .box .img {
        margin: 0 0 0 0;
    }

    .about .box .img img {
        width: 100%;
    }

    .about .box .text {
        padding-left: 40px;
    }

    /* Box Skills */
    .skills .box .items .skill {
        width: 25%;
    }

    .skills .box .items .skill img,
    .skills .box .items .skill svg {
        width: 120px;
    }

    /* Box Projects */
    .projects .box .project,
    .projects .box .project.reverse {
        flex-direction: row;
    }

    /* Box contact */
    .contact .box .contacts {
        flex-direction: row;

    }




}